@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<a asp-page="./NewGame">New Game</a>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Saved Game</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var conf in Model.Configurations)
    {
        <tr>
            <td>@conf.Name</td>
            <td>@($"{conf.BoardWidth}x{conf.BoardHeight}, win condition {conf.WinCondition}, created at {conf.CreatedAt}")</td>
            <td><a asp-page="./ContinueGame">Continue Game</a><td>
        </tr>
    }
    </tbody>
</table>